<a href="https://colab.research.google.com/github/Monikha763/python/blob/main/pandas_as_series_and_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
fruit=["apple","mango","grapes","cherry","jackfruit"]
s=pd.Series(fruit)
print(s)

0        apple
1        mango
2       grapes
3       cherry
4    jackfruit
dtype: object

In [ ]:
import pandas as pd
even=[2,4,6,8]
s=pd.Series(sum(even))
print(s)

0    20
dtype: int64

In [ ]:
import pandas as pd
subject=["math","english","hindi"]
mark=[99,98,65]
s=pd.Series(subject,mark)
print(s)

99       math
98    english
65      hindi
dtype: object

In [ ]:
import pandas as pd
subject=["math","english","hindi"]
mark=[99,98,65]
s=pd.Series(max(mark))
print(s)

0    99
dtype: int64

In [ ]:
import pandas as pd
subject=["math","english","hindi"]
mark=[99,98,65]
s=pd.Series(min(mark))
print(s)

0    65
dtype: int64

In [ ]:
import pandas as pd
country_capitals={"India":"New Delhi","France":"paris","japan":"tokyo","Germany": "Berlin"}
s=pd.Series(country_capitals)
print(s)

India      New Delhi
France         paris
japan          tokyo
Germany       Berlin
dtype: object

In [ ]:
import pandas as pd
country_capitals={"India":"New Delhi","France":"paris","japan":"tokyo","Germany": "Berlin"}
s=pd.Series(country_capitals["India"])
print(s)

0    New Delhi
dtype: object

In [ ]:
import pandas as pd
temp=[98,30,45,99,45,90]
s=pd.Series(sum(temp)/len(temp))
print(s)

0    67.833333
dtype: float64

In [ ]:
import pandas as pd
temp=[98,30,45,99,45,90]
a=[]
for i in temp:
  if i>30:
    a.append(i)
print(a)

[98, 45, 99, 45, 90]

In [ ]:
import pandas as pd
data=["a","b","c","d"]
s=pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
import pandas as pd
data=[[1,2],[3,4],[5,6]]
s=pd.Series(data)
print(s)

0    [1, 2]
1    [3, 4]
2    [5, 6]
dtype: object

In [ ]:
print("type of elemet:")
print(type(s))

type of elemet:
<class 'pandas.core.series.Series'>

***data frame***

In [ ]:
import pandas as pd
data={
    "name":["monikha","loges","poornima"],
     "age":[22,21,20]}
df=pd.DataFrame(data)
print(df)

       name  age
0   monikha   22
1     loges   21
2  poornima   20

In [ ]:
import pandas as pd
data={
    "name":["monikha","loges","poornima"],
     "age":[22,21,20],
     "city":["Madurai","chennai","dindugal"]}
df=pd.DataFrame(data)
print(df)

       name  age      city
0   monikha   22   Madurai
1     loges   21   chennai
2  poornima   20  dindugal

In [ ]:
import pandas as pd
data={
    "name":["monikha","loges","poornima"],
     "age":[22,21,20],
     "city":["Madurai","chennai","dindugal"]}
df=pd.DataFrame(data)
print(df["name"])

0     monikha
1       loges
2    poornima
Name: name, dtype: object

In [ ]:
print(df["age"]>25)

0    False
1    False
2    False
Name: age, dtype: bool

In [ ]:
import pandas as pd
data={
    "name":["monikha","loges","poornima"],
     "age":[22,21,20],
     "city":["Madurai","chennai","dindugal"]}
df["status"]="active"
print(df)

       name  age      city  status
0   monikha   22   Madurai  active
1     loges   21   chennai  active
2  poornima   20  dindugal  active

In [ ]:
import pandas as pd
data={
    "price":[100,200,300],
    "quantity":[5,10,20]}
df=pd.DataFrame(data)
print(df)

   price  quantity
0    100         5
1    200        10
2    300        20

In [ ]:
import pandas as pd
data={
    "price":[100,200,300],
    "quantity":[5,10,20]}
df["total"]=df["price"]*df["quantity"]
print(df)

   price  quantity  total
0    100         5    500
1    200        10   2000
2    300        20   6000

In [ ]:
import pandas as pd
data={
    "price":[100,200,300],
    "quantity":[5,10,20]}
df=pd.DataFrame(data)
print(df.describe())

       price   quantity
count    3.0   3.000000
mean   200.0  11.666667
std    100.0   7.637626
min    100.0   5.000000
25%    150.0   7.500000
50%    200.0  10.000000
75%    250.0  15.000000
max    300.0  20.000000

In [ ]:
import pandas as pd
data=[["monikha",25,95],["poonrima",22,94],["loges",21,87]]
df=pd.DataFrame(data,columns=["name","age","marks"])
print(df)

       name  age  marks
0   monikha   25     95
1  poonrima   22     94
2     loges   21     87

In [1]:
import pandas as pd
a=[['mango',20],['apple',40],['cherry',10]]
columns=['fruits','price']
df=pd.DataFrame(a,columns=columns)
df=df.sort_values(by='price',ascending=False)
print(df)

   fruits  price
1   apple     40
0   mango     20
2  cherry     10