<a href="https://colab.research.google.com/github/Monikha763/python/blob/main/python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
student = [["alice",85,90,95],["bob",75,80,82],["carol",92,88,91],["dravid",60,65,70]]
for student in student:
  name = student[0]
  marks = student[1:]
  total = sum(marks)
  print(f"Total marks of {name}: {total}")

Total marks of alice: 270
Total marks of bob: 237
Total marks of carol: 271
Total marks of dravid: 195

In [ ]:
student = [["alice",85,90,95],["bob",75,80,82],["carol",92,88,91],["dravid",60,65,70]]
for student in student:
  name=student[0]
  marks=student[1:]
  total=sum(marks)
  average=total/len(marks)
  highest_average=0
  if(average<highest_average):
    highest_average=average
  else:
    break
    student_highest_average=name
print(f"stduent with highest mark{name}:{total}")

stduent with highest markalice:270

In [ ]:
student = [["alice",85,90,95],["bob",75,80,82],["carol",92,88,91],["dravid",60,65,70]]
for student in student:
  name = student[0]
  marks = student[1:]
  total = sum(marks)
  if(total>250):
    print(f"Total marks of {name}: {total}")

Total marks of alice: 270
Total marks of carol: 271

In [ ]:
student=[["alice",85,90,95],["bob",75,80,82],["carol",92,88,91],["dravid",60,65,70]]
student2=["jack",90,55,70]
append=student.append(student2)
print(student)

[['alice', 85, 90, 95], ['bob', 75, 80, 82], ['carol', 92, 88, 91], ['dravid', 60, 65, 70], ['jack', 90, 55, 70]]

In [ ]:
hobby_data=[["alice","reading","cycling"],["bob","drawing","football"],["carol","reading","swimming"],["david","cycling","gaming"]]
unique_hobbies = set()
for person in hobby_data:
    hobbies = person[1:]
    unique_hobbies.update(hobbies)
print("Unique hobbies:")
for hobby in unique_hobbies:
    print(hobby)

Unique hobbies:
cycling
football
drawing
swimming
reading
gaming

In [ ]:
hobby_data=[["alice","reading","cycling"],["bob","drawing","football"],["carol","reading","swimming"],["david","cycling","gaming"]]
a=[]
for i in hobby_data:
     name=i[0]
     hobby=i[1:]
     if "reading" in hobby:
        a.append(name)
print(len(a))

2

In [ ]:
hobby_data=[["alice","reading","cycling"],["bob","drawing","football"],["carol","reading","swimming"],["david","cycling","gaming"]]
for i in hobby_data:
   name=i[0]
   hobby=i[1:]
   for j in i:
       if (j=="reading") or (j=="cycling"):
          print(name)

alice
alice
carol
david

In [ ]:
hobby_data=[["alice","reading","cycling"],["bob","drawing","football"],["carol","reading","swimming"],["david","cycling","gaming"]]
dict_hobby_data={}
for i in hobby_data:
   name=i[0]
   hobby=i[1:]
   dict_hobby_data[name]=hobby
print(dict_hobby_data)

{'alice': ['reading', 'cycling'], 'bob': ['drawing', 'football'], 'carol': ['reading', 'swimming'], 'david': ['cycling', 'gaming']}

In [ ]:
_s=[["rice",120,130,125],["wheat",100,90,95],["oil",80,85,90],["sugar",110,115,105]]
for i in s:
 product_name=i[0]
 sales=i[1:]
 total=sum(sales)
 print(f"total sales of {product_name}:{total}")

total sales of rice:375
total sales of wheat:285
total sales of oil:255
total sales of sugar:330

In [ ]:
sales= [["rice", 120, 130, 125], ["wheat", 100, 90, 95],["oil", 80, 85, 90],["sugar", 110, 115, 105]]
max_sales = 0
product_name = ""
for item in s:
    march_sales = item[3]
    if march_sales > max_sales:
        max_sales = march_sales
        product_name = item[0]
print(f"Product with highest sales in March: {product_name} ({max_sales} units)")

Product with highest sales in March: rice (125 units)

In [ ]:
sales= [["rice", 120, 130, 125], ["wheat", 100, 90, 95],["oil", 80, 85, 90],["sugar", 110, 115, 105]]
jan_total=0
feb_total=0
mar_total=0
for item in sales:
  jan_total=item[1]
  feb_total=item[2]
  mar_total=item[3]
print(f"total jan sales;{jan_total}")
print(f"total feb sales;{feb_total}")
print(f"total mar sales;{mar_total}")

total jan sales;110
total feb sales;115
total mar sales;105

In [ ]:
sales= [["rice", 120, 130, 125], ["wheat", 100, 90, 95],["oil", 80, 85, 90],["sugar", 110, 115, 105]]
sales_dict={}
for item in sales:
  product_name=item[0]
  monthly_sales=item[1:]
  sales_dict[product_name]=monthly_sales
print(sales_dict)

{'rice': [120, 130, 125], 'wheat': [100, 90, 95], 'oil': [80, 85, 90], 'sugar': [110, 115, 105]}

In [ ]:
books=[["wings of fire","A.P.J.abdul kalam","biography"],["1984","georgeorwell","fiction"],["the aichemist","paulao coelha","fiction"],["zero to one","peter thiel","business"]]
for i in books:
 book_title=i[0]
 author_name=i[1]
 genre=i[2]
 if genre=="fiction":
  print(f"fiction book: {book_title}-genre:{genre}")

fiction book: 1984-genre:fiction
fiction book: the aichemist-genre:fiction

In [ ]:
books=[["wings of fire","A.P.J.abdul kalam","biography"],["1984","georgeorwell","fiction"],["the aichemist","paulao coelha","fiction"],["zero to one","peter thiel","business"]]
unique_authors=[]
for book in books:
  author=book[1]
  if author not in unique_authors:
    unique_authors.append(author)
print(f"unique author:",unique_authors)

unique author: ['A.P.J.abdul kalam', 'georgeorwell', 'paulao coelha', 'peter thiel']

In [ ]:
books=[["wings of fire","A.P.J.abdul kalam","biography"],["1984","georgeorwell","fiction"],["the aichemist","paulao coelha","fiction"],["zero to one","peter thiel","business"]]
genre_count={}
for book in books:
  genre=book[2]
  if genre in genre_count:
    genre_count[genre]+=1
  else:
    genre_count[genre]=1
    print("book per genre:")
    for genre,count in genre_count.items():
      print(f"{genre}:{count}")

book per genre:
biography:1
book per genre:
biography:1
fiction:1
book per genre:
biography:1
fiction:2
business:1

In [ ]:
books=[["wings of fire","A.P.J.abdul kalam","biography"],["1984","georgeorwell","fiction"],["the aichemist","paulao coelha","fiction"],["zero to one","peter thiel","business"]]
books_dict={}
for i in books:
   book_title=i[0]
   author_name=i[1:]
   books_dict[book_title]=author_name
print(books_dict)

{'wings of fire': ['A.P.J.abdul kalam', 'biography'], '1984': ['georgeorwell', 'fiction'], 'the aichemist': ['paulao coelha', 'fiction'], 'zero to one': ['peter thiel', 'business']}

In [ ]:
employess=[["arun","python","SQL","excel"],
["divya","tableu","python","powerBI"],
["rahul","excel","communciation","SQL"],
["meena","python","ML","DL"]]
for i in employess:
  employess_name=i[0]
  skills=i[1:]
  if "python" in skills:
   print(f"{employess_name}")

arun
divya
meena

In [ ]:
employees=[["arun","python","SQL","excel"],
["divya","tableu","python","powerBI"],
["rahul","excel","communciation","SQL"],
["meena","python","ML","DL"]]
skill_count = {}
for i in employees:
    skills = i[1:]
    for skill in skills:
        if skill in skill_count:
            skill_count[skill] += 1
        else:
            skill_count[skill] = 1
print("Skill Frequencies:")
for skill, count in skill_count.items():
    print(f"{skill}: {count}")

Skill Frequencies:
python: 3
SQL: 2
excel: 2
tableu: 1
powerBI: 1
communciation: 1
ML: 1
DL: 1

In [ ]:
employees=[["arun","python","SQL","excel"],
["divya","tableu","python","powerBI"],
["rahul","excel","communciation","SQL"],
["meena","python","ML","DL"]]
emp=[["arun","python","sql","excel"],["divya","tableau","python","power bi"],["rahul","excel","communication","sql"],["meena","python","ml","dl"]]
s_i=[]
for i in range(4):
  n = emp[i][0]
  for j in range(1,4):
    s=emp[i][j]
    found=0
    for k in range(len(s_i)):
      if s_i[k][0]== s:
        s_i[k][1].append(n)
        found=1
    if found == 0:
      s_i.append([s , [n]])
print(s_i)

[['python', ['arun', 'divya', 'meena']], ['sql', ['arun', 'rahul']], ['excel', ['arun', 'rahul']], ['tableau', ['divya']], ['power bi', ['divya']], ['communication', ['rahul']], ['ml', ['meena']], ['dl', ['meena']]]

In [ ]:
employees=[["arun","python","SQL","excel"],
["divya","tableu","python","powerBI"],
["rahul","excel","communciation","SQL"],
["meena","python","ML","DL"]]
emp=[["arun","python","sql","excel"],["divya","tableau","python","power bi"],["rahul","excel","communication","sql"],["meena","python","ml","dl"]]
for i in emp:
  name=i[0]
  skills=i[1:]
  if ('python' in skills) and ('sql' in skills):
    if('excel' in skills):
      print(name)

arun

In [ ]:
plots=[["P101","arun",1200,"booked"],["p102","divya",1500,"available"],["p103","meena","1000","booked"],["p103","none",1300,"available"]]
for i in plots:
  plot_id=i[0]
  booked_count = 0
for plot in plots:
    if plot[3].lower() == "booked":
        booked_count+= 1
print("Number of booked plots:", booked_count)

Number of booked plots: 2

In [ ]:
plots = [["P101", "arun", 1200, "booked"], ["p102", "divya", 1500, "available"], ["p103", "meena", "1000", "booked"], ["p103", "none", 1300, "available"]]
available_count = 0
for plot in plots:
    if plot[3].lower() == "available":
        available_count += 1
print("Number of available plots:", available_count)

Number of available plots: 2

In [ ]:
plots = [["P101", "arun", 1200, "booked"], ["p102", "divya", 1500, "available"], ["p103", "meena", "1000", "booked"], ["p103", "none", 1300, "available"]]
for i in plots:
    plot_id = i[0]
    customer_name = i[1]
    booking_status = i[3]
    if booking_status.lower() == "booked":
        print(customer_name,plot_id)

arun P101
meena p103

In [ ]:
plots = [["P101", "arun", 1200, "booked"],  ["p102", "divya", 1500, "available"],  ["p103", "meena", "1000", "booked"],  ["p103", "none", 1300, "available"]]
new_booking = ["P104", "kumar", 1400, "booked"]
plots.append(new_booking)
for i in plots:
    plot_id = i[0]
    customer_name = i[1]
    booking_status = i[3]
    if booking_status.lower() == "booked":
        print(customer_name)

arun
meena
kumar

In [ ]:
plots = [["P101", "arun", 1200, "booked"],  ["p102", "divya", 1500, "available"],  ["p103", "meena", "1000", "booked"],  ["p103", "none", 1300, "available"]]
plots.append(["p104","jack",1400,"booked"])
print(plots)

[['P101', 'arun', 1200, 'booked'], ['p102', 'divya', 1500, 'available'], ['p103', 'meena', '1000', 'booked'], ['p103', 'none', 1300, 'available'], ['p104', 'jack', 1400, 'booked']]

In [ ]:
payments=[["arun",600000,300000,300000],["divya",750000,750000,0],["meena",500000,100000,400000],["kumar",900000,600000,300000]]
for i in payments:
  customer_name=i[0]
  due_amount=i[3]
  print(f"customer {customer_name} : {due_amount}")

customer arun : 300000
customer divya : 0
customer meena : 400000
customer kumar : 300000

In [ ]:
payments=[["arun",600000,300000,300000],["divya",750000,750000,0],["meena",500000,100000,400000],["kumar",900000,600000,300000]]
def p(x):
  tot=x[1]
  paid=x[2]
  percent=(paid/tot)*100
  return (percent)
pymnt=[["arun",6000000,3000000,3000000],["divya",750000,750000,0],["meena",5000000,1000000,4000000],["kumar",9000000,6000000,3000000]]
for i in pymnt:
  name=i[0]
  percent= p(i)
  print(f"{name} has paid {percent: .2f}% of total amount")

arun has paid  50.00% of total amount
divya has paid  100.00% of total amount
meena has paid  20.00% of total amount
kumar has paid  66.67% of total amount

In [ ]:
payments=[["arun",600000,300000,300000],["divya",750000,750000,0],["meena",500000,100000,400000],["kumar",900000,600000,300000]]
fully_paid=[]
for i in payments:
   if i[1]==i[2]+i[3]:
      fully_paid.append(i[0])
print(f"fully paid customers:",fully_paid)

fully paid customers: ['arun', 'divya', 'meena', 'kumar']

In [ ]:
payments=[["arun",600000,300000,300000],["divya",750000,750000,0],["meena",500000,100000,400000],["kumar",900000,600000,300000]]
payments=[["arun",6000000,3000000,3000000],["divya",750000,750000,0],["meena",5000000,1000000,4000000],["kumar",9000000,6000000,3000000]]
for i in payments:
  name=i[0]
  due=i[3]
  if (due==0):
      print(name)

divya

In [ ]:
plot_info=[["p101","Northlayout","East"],["p102","Northlayout","West"],["p103","Southlayout","north"],["p104","Southlayout","East"]]
for i in plot_info:
    plot_id=i[0]
    location=i[1]
    if location=="Northlayout":
      print(f"plots in Northlayout:{plot_id}")

plots in Northlayout:p101
plots in Northlayout:p102

In [ ]:
plot_info=[["p101","Northlayout","East"],["p102","Northlayout","West"],["p103","Southlayout","north"],["p104","Southlayout","East"]]
a=[]
for i in plot_info:
   id=i[0]
   dir=i[2]
   if (dir=="East"):
      a.append(id)
print(len(a))

2

In [ ]:
plot_info=[["p101","Northlayout","East"],["p102","Northlayout","West"],["p103","Southlayout","north"],["p104","Southlayout","East"]]
for i in plot_info:
   id=i[0]
   dir=i[2]
   loc=i[1]
   p_id=input("enter the id: ")
   if(p_id==id):
      print(id,loc,dir)

enter the id: p101
p101 Northlayout East
enter the id: p102
p102 Northlayout West
enter the id: p103
p103 Southlayout north
enter the id: p104
p104 Southlayout East

In [ ]:
p_info=[["p101","north layout","east"],["p102","north layout","west"],["p103","south layout","north"],["p104","east layout","east"]]
ll={}
for i in p_info:
  id=i[0]
  l=i[1]
  if l not in ll:
    ll[l]= []
  ll[l].append(id)
for l,i in ll.items():
  print(f"{l}: {i}")

north layout: ['p101', 'p102']
south layout: ['p103']
east layout: ['p104']