<a href="https://colab.research.google.com/github/Monikha763/python/blob/main/startups_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('50_Startups.csv')
print(df.head(10))

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [ ]:
print(df.shape)

(50, 5)

In [ ]:
print(df.columns)

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [ ]:
print(df.describe())

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [ ]:
df.iloc[5]

R&D Spend           131876.9
Administration      99814.71
Marketing Spend    362861.36
State               New York
Profit             156991.12
Name: 5, dtype: object

In [ ]:
print(df[["R&D Spend","Profit"]])

    R&D Spend     Profit
0   165349.20  192261.83
1   162597.70  191792.06
2   153441.51  191050.39
3   144372.41  182901.99
4   142107.34  166187.94
5   131876.90  156991.12
6   134615.46  156122.51
7   130298.13  155752.60
8   120542.52  152211.77
9   123334.88  149759.96
10  101913.08  146121.95
11  100671.96  144259.40
12   93863.75  141585.52
13   91992.39  134307.35
14  119943.24  132602.65
15  114523.61  129917.04
16   78013.11  126992.93
17   94657.16  125370.37
18   91749.16  124266.90
19   86419.70  122776.86
20   76253.86  118474.03
21   78389.47  111313.02
22   73994.56  110352.25
23   67532.53  108733.99
24   77044.01  108552.04
25   64664.71  107404.34
26   75328.87  105733.54
27   72107.60  105008.31
28   66051.52  103282.38
29   65605.48  101004.64
30   61994.48   99937.59
31   61136.38   97483.56
32   63408.86   97427.84
33   55493.95   96778.92
34   46426.07   96712.80
35   46014.02   96479.51
36   28663.76   90708.19
37   44069.95   89949.14
38   20229.59   81229.06
39   38558.51   81005.76
40   28754.33   78239.91
41   27892.92   77798.83
42   23640.93   71498.49
43   15505.73   69758.98
44   22177.74   65200.33
45    1000.23   64926.08
46    1315.46   49490.75
47       0.00   42559.73
48     542.05   35673.41
49       0.00   14681.40

In [ ]:
print(df.tail(3))

    R&D Spend  Administration  Marketing Spend       State    Profit
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [ ]:
import pandas as pd
df=pd.read_csv('50_Startups.csv')

In [ ]:
print(df.loc[9,"Profit"])

149759.96

In [ ]:
print(df.isnull().sum())

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
df.rename(columns={'R&D Spend': 'RD_Spend'}, inplace=True)

In [ ]:
df['Total Spend'] = df['RD_Spend'] + df['Administration'] + df['Marketing Spend']
print(df['Total Spend'])

0     774031.10
1     757873.82
2     662521.60
3     646243.88
4     599667.53
5     594552.97
6     409531.15
7     599704.87
8     580874.76
9     536995.67
10    441668.14
11    442207.12
12    471023.57
13    480152.39
14    533003.58
15    498916.68
16    463956.72
17    522309.05
18    500844.52
19    239933.81
20    488785.63
21    531900.19
22    500096.57
23    478052.29
24    316900.16
25    342180.49
26    353514.92
27    553155.96
28    366845.28
29    325775.92
30    268767.00
31    302056.53
32    238713.72
33    373186.25
34    414917.66
35    336579.10
36    356846.79
37    292382.51
38    271442.62
39    296539.90
40    320096.05
41    277074.40
42    267831.67
43    178422.20
44    205318.60
45    127057.20
46    414246.13
47    135426.92
48     52285.20
49    162156.86
Name: Total Spend, dtype: float64

In [ ]:
import pandas as pd
df=pd.read_csv('50_Startups.csv')

In [ ]:
df["State"]=df["State"].replace("Florida","FL")
print(df)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54          FL  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42          FL  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68          FL  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95          FL  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44          FL  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92          FL  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57          FL  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26          FL  110352.25
23   67532.53       105751.03        304768.73          FL  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07          FL  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20          FL  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24          FL   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81          FL   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82          FL   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71          FL   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46          FL   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [ ]:
df = df.drop('Marketing Spend', axis=1)
print(df)

    R&D Spend  Administration       State     Profit
0   165349.20       136897.80    New York  192261.83
1   162597.70       151377.59  California  191792.06
2   153441.51       101145.55          FL  191050.39
3   144372.41       118671.85    New York  182901.99
4   142107.34        91391.77          FL  166187.94
5   131876.90        99814.71    New York  156991.12
6   134615.46       147198.87  California  156122.51
7   130298.13       145530.06          FL  155752.60
8   120542.52       148718.95    New York  152211.77
9   123334.88       108679.17  California  149759.96
10  101913.08       110594.11          FL  146121.95
11  100671.96        91790.61  California  144259.40
12   93863.75       127320.38          FL  141585.52
13   91992.39       135495.07  California  134307.35
14  119943.24       156547.42          FL  132602.65
15  114523.61       122616.84    New York  129917.04
16   78013.11       121597.55  California  126992.93
17   94657.16       145077.58    New York  125370.37
18   91749.16       114175.79          FL  124266.90
19   86419.70       153514.11    New York  122776.86
20   76253.86       113867.30  California  118474.03
21   78389.47       153773.43    New York  111313.02
22   73994.56       122782.75          FL  110352.25
23   67532.53       105751.03          FL  108733.99
24   77044.01        99281.34    New York  108552.04
25   64664.71       139553.16  California  107404.34
26   75328.87       144135.98          FL  105733.54
27   72107.60       127864.55    New York  105008.31
28   66051.52       182645.56          FL  103282.38
29   65605.48       153032.06    New York  101004.64
30   61994.48       115641.28          FL   99937.59
31   61136.38       152701.92    New York   97483.56
32   63408.86       129219.61  California   97427.84
33   55493.95       103057.49          FL   96778.92
34   46426.07       157693.92  California   96712.80
35   46014.02        85047.44    New York   96479.51
36   28663.76       127056.21          FL   90708.19
37   44069.95        51283.14  California   89949.14
38   20229.59        65947.93    New York   81229.06
39   38558.51        82982.09  California   81005.76
40   28754.33       118546.05  California   78239.91
41   27892.92        84710.77          FL   77798.83
42   23640.93        96189.63  California   71498.49
43   15505.73       127382.30    New York   69758.98
44   22177.74       154806.14  California   65200.33
45    1000.23       124153.04    New York   64926.08
46    1315.46       115816.21          FL   49490.75
47       0.00       135426.92  California   42559.73
48     542.05        51743.15    New York   35673.41
49       0.00       116983.80  California   14681.40

In [ ]:
df = df[df["State"] == "California"]
print(df)

    R&D Spend  Administration       State     Profit
1   162597.70       151377.59  California  191792.06
6   134615.46       147198.87  California  156122.51
9   123334.88       108679.17  California  149759.96
11  100671.96        91790.61  California  144259.40
13   91992.39       135495.07  California  134307.35
16   78013.11       121597.55  California  126992.93
20   76253.86       113867.30  California  118474.03
25   64664.71       139553.16  California  107404.34
32   63408.86       129219.61  California   97427.84
34   46426.07       157693.92  California   96712.80
37   44069.95        51283.14  California   89949.14
39   38558.51        82982.09  California   81005.76
40   28754.33       118546.05  California   78239.91
42   23640.93        96189.63  California   71498.49
44   22177.74       154806.14  California   65200.33
47       0.00       135426.92  California   42559.73
49       0.00       116983.80  California   14681.40

In [ ]:
print(df[df["Profit"] > 150000])

   R&D Spend  Administration       State     Profit
1  162597.70       151377.59  California  191792.06
6  134615.46       147198.87  California  156122.51

In [ ]:
print(df[(df['R&D Spend']>100000) & (df["Profit"] >120000)])

    R&D Spend  Administration       State     Profit
1   162597.70       151377.59  California  191792.06
6   134615.46       147198.87  California  156122.51
9   123334.88       108679.17  California  149759.96
11  100671.96        91790.61  California  144259.40

In [ ]:
filtered =df[(df["State"]=="New York")&(df["Administration"]<120000)]
print(filtered)

Empty DataFrame
Columns: [R&D Spend, Administration, State, Profit]
Index: []

In [ ]:
df['Total Spend'] = df['R&D Spend'] + df['Administration']
print(df['Total Spend'])

1     313975.29
6     281814.33
9     232014.05
11    192462.57
13    227487.46
16    199610.66
20    190121.16
25    204217.87
32    192628.47
34    204119.99
37     95353.09
39    121540.60
40    147300.38
42    119830.56
44    176983.88
47    135426.92
49    116983.80
Name: Total Spend, dtype: float64

In [ ]:
import pandas as pd
df=pd.read_csv('50_Startups.csv')

df['Total Spend'] = df['R&D Spend'] + df['Administration'] + df['Marketing Spend']

filtered_df = df[df["Total Spend"] > 400000]
print(filtered_df)

    R&D Spend  Administration  Marketing Spend       State     Profit  \
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
27   72107.60       127864.55        353183.81    New York  105008.31
34   46426.07       157693.92        210797.67  California   96712.80
46    1315.46       115816.21        297114.46     Florida   49490.75

    Total Spend
0     774031.10
1     757873.82
2     662521.60
3     646243.88
4     599667.53
5     594552.97
6     409531.15
7     599704.87
8     580874.76
9     536995.67
10    441668.14
11    442207.12
12    471023.57
13    480152.39
14    533003.58
15    498916.68
16    463956.72
17    522309.05
18    500844.52
20    488785.63
21    531900.19
22    500096.57
23    478052.29
27    553155.96
34    414917.66
46    414246.13

In [ ]:
import pandas as pd
df=pd.read_csv('50_Startups.csv')

In [ ]:
count=df["State"].value_counts()
print(count)

State
New York      17
California    17
Florida       16
Name: count, dtype: int64

In [ ]:
average=df.groupby("State")["Profit"].mean()
print(average)

State
California    103905.175294
Florida       118774.024375
New York      113756.446471
Name: Profit, dtype: float64

In [ ]:
max=df.groupby("State")["R&D Spend"].max()
print(max)

State
California    162597.70
Florida       153441.51
New York      165349.20
Name: R&D Spend, dtype: float64

In [ ]:
mean=df['Administration'].mean()
print(mean)

121344.63960000001

In [ ]:
total=df.groupby("State")["Marketing Spend"].sum()
print(total)

State
California    3103195.80
Florida       3957176.82
New York      3490882.27
Name: Marketing Spend, dtype: float64

In [ ]:
startups=df.sort_values(by="Profit",ascending=False)
print(startups)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [ ]:
df['Total Spend'] = df['R&D Spend'] + df['Administration'] + df['Marketing Spend']
print(df['Total Spend'])

0     774031.10
1     757873.82
2     662521.60
3     646243.88
4     599667.53
5     594552.97
6     409531.15
7     599704.87
8     580874.76
9     536995.67
10    441668.14
11    442207.12
12    471023.57
13    480152.39
14    533003.58
15    498916.68
16    463956.72
17    522309.05
18    500844.52
19    239933.81
20    488785.63
21    531900.19
22    500096.57
23    478052.29
24    316900.16
25    342180.49
26    353514.92
27    553155.96
28    366845.28
29    325775.92
30    268767.00
31    302056.53
32    238713.72
33    373186.25
34    414917.66
35    336579.10
36    356846.79
37    292382.51
38    271442.62
39    296539.90
40    320096.05
41    277074.40
42    267831.67
43    178422.20
44    205318.60
45    127057.20
46    414246.13
47    135426.92
48     52285.20
49    162156.86
Name: Total Spend, dtype: float64

In [ ]:
startups=df.sort_values(by="Total_Spend"and"Profit")
print(startups)

    R&D Spend  Administration  Marketing Spend       State     Profit  \
49       0.00       116983.80         45173.06  California   14681.40
48     542.05        51743.15             0.00    New York   35673.41
47       0.00       135426.92             0.00  California   42559.73
46    1315.46       115816.21        297114.46     Florida   49490.75
45    1000.23       124153.04          1903.93    New York   64926.08
44   22177.74       154806.14         28334.72  California   65200.33
43   15505.73       127382.30         35534.17    New York   69758.98
42   23640.93        96189.63        148001.11  California   71498.49
41   27892.92        84710.77        164470.71     Florida   77798.83
40   28754.33       118546.05        172795.67  California   78239.91
39   38558.51        82982.09        174999.30  California   81005.76
38   20229.59        65947.93        185265.10    New York   81229.06
37   44069.95        51283.14        197029.42  California   89949.14
36   28663.76       127056.21        201126.82     Florida   90708.19
35   46014.02        85047.44        205517.64    New York   96479.51
34   46426.07       157693.92        210797.67  California   96712.80
33   55493.95       103057.49        214634.81     Florida   96778.92
32   63408.86       129219.61         46085.25  California   97427.84
31   61136.38       152701.92         88218.23    New York   97483.56
30   61994.48       115641.28         91131.24     Florida   99937.59
29   65605.48       153032.06        107138.38    New York  101004.64
28   66051.52       182645.56        118148.20     Florida  103282.38
27   72107.60       127864.55        353183.81    New York  105008.31
26   75328.87       144135.98        134050.07     Florida  105733.54
25   64664.71       139553.16        137962.62  California  107404.34
24   77044.01        99281.34        140574.81    New York  108552.04
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
19   86419.70       153514.11             0.00    New York  122776.86
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
9   123334.88       108679.17        304981.62  California  149759.96
8   120542.52       148718.95        311613.29    New York  152211.77
7   130298.13       145530.06        323876.68     Florida  155752.60
6   134615.46       147198.87        127716.82  California  156122.51
5   131876.90        99814.71        362861.36    New York  156991.12
4   142107.34        91391.77        366168.42     Florida  166187.94
3   144372.41       118671.85        383199.62    New York  182901.99
2   153441.51       101145.55        407934.54     Florida  191050.39
1   162597.70       151377.59        443898.53  California  191792.06
0   165349.20       136897.80        471784.10    New York  192261.83

    Total Spend
49    162156.86
48     52285.20
47    135426.92
46    414246.13
45    127057.20
44    205318.60
43    178422.20
42    267831.67
41    277074.40
40    320096.05
39    296539.90
38    271442.62
37    292382.51
36    356846.79
35    336579.10
34    414917.66
33    373186.25
32    238713.72
31    302056.53
30    268767.00
29    325775.92
28    366845.28
27    553155.96
26    353514.92
25    342180.49
24    316900.16
23    478052.29
22    500096.57
21    531900.19
20    488785.63
19    239933.81
18    500844.52
17    522309.05
16    463956.72
15    498916.68
14    533003.58
13    480152.39
12    471023.57
11    442207.12
10    441668.14
9     536995.67
8     580874.76
7     599704.87
6     409531.15
5     594552.97
4     599667.53
3     646243.88
2     662521.60
1     757873.82
0     774031.10

In [ ]:
startups=df.sort_values(by="R&D Spend").head(5)
print(startups)

    R&D Spend  Administration  Marketing Spend       State    Profit  \
49       0.00       116983.80         45173.06  California  14681.40
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75

    Total Spend
49    162156.86
47    135426.92
48     52285.20
45    127057.20
46    414246.13

In [ ]:
import pandas as pd
df=pd.read_csv('50_Startups.csv')

In [ ]:
df['Total Spend'] = df['R&D Spend'] + df['Administration'] + df['Marketing Spend']
df["Profit Margin %"] = (df["Profit"] / df["Total Spend"]) * 100
print(df)

    R&D Spend  Administration  Marketing Spend       State     Profit  \
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

    Total Spend  Profit Margin %
0     774031.10        24.839032
1     757873.82        25.306595
2     662521.60        28.836855
3     646243.88        28.302317
4     599667.53        27.713346
5     594552.97        26.404900
6     409531.15        38.122255
7     599704.87        25.971542
8     580874.76        26.203888
9     536995.67        27.888486
10    441668.14        33.084105
11    442207.12        32.622586
12    471023.57        30.059116
13    480152.39        27.971817
14    533003.58        24.878379
15    498916.68        26.039827
16    463956.72        27.371719
17    522309.05        24.003101
18    500844.52        24.811472
19    239933.81        51.171138
20    488785.63        24.238444
21    531900.19        20.927426
22    500096.57        22.066188
23    478052.29        22.745208
24    316900.16        34.254334
25    342180.49        31.388213
26    353514.92        29.909216
27    553155.96        18.983491
28    366845.28        28.154207
29    325775.92        31.004330
30    268767.00        37.183728
31    302056.53        32.273283
32    238713.72        40.813674
33    373186.25        25.933142
34    414917.66        23.308914
35    336579.10        28.664736
36    356846.79        25.419366
37    292382.51        30.764200
38    271442.62        29.924947
39    296539.90        27.316985
40    320096.05        24.442635
41    277074.40        28.078679
42    267831.67        26.695308
43    178422.20        39.097702
44    205318.60        31.755686
45    127057.20        51.099883
46    414246.13        11.947185
47    135426.92        31.426344
48     52285.20        68.228504
49    162156.86         9.053826

In [ ]:
df.to_csv("final_startups.csv")